@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


#corpo_pag1 {
    background-color: #021452;
}

header {
    padding-top: 40px;
}

.caixamenu {
    position: relative;
    width: 1130px;
    /*largura*/
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 60px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 60px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: roboto;
    font-size: 25px;
}

h1 img {
    width: 200px;
    margin: 0 0 0 50px;
    padding-top: 16px;
}

.botaoentrar {
    margin: 0 50px 0px 70px;
    padding: 10px;
    background-color: #901D71;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 25px;
}

.hrmenu {
    width: 1130px;
    height: 10px;
    background-color: #901D71;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    align-items: center;
}

/*CONTEUDO PRINCIPAL DA PÁGINA*/
.titulo {/*h1*/
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    font-size: 35px;
    font-weight: 600;
}

.texto-p{/*p*/
    color: white;
    text-align: justify;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.texto-pp{/*p*/
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#container-texto {
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aprendizagem{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 85px;
    font-size: 25px;
    margin-right: 40px;
}
#basico {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
}
.subtitulo{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    font-size:30px;
    font-weight: 600; 
}




/*BOTÃO DO CURSO*/
.cursos {
    background-color: #EFA512;
    color: #021452;
    font-weight: 600;
    width: 200px;
    margin-top: 40px;
    margin-left: 45%;
    cursor: pointer;
    margin-bottom: 40px;
}

/* barra de pesquisa */
#pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
}

#buscar {
    height: 20px;
    width: 420px;
    height: 28px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
    border-radius: 40px;
    border: 3px solid transparent;
    align-items: center;
    /*alinhar items dentro conteudo*/
    font-size: 18px;
    font-weight: bold;
    color: #10a87d;
    padding: 1px;
    cursor: pointer;
    margin-left: 999px;
}

.buscar::placeholder {
    position: relative;
    left: 20px;
}

/*footer*/
footer {
    background-color: #008AAF;
}

#rodape {
    width: 1130px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.logo_ponto img {
    width: 30px;
    padding: 30px;
}

.info1 {
    padding: 20px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    line-height: 1.40;
}

.info2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.redes_sociais {
    position: absolute;
    top: 60px;
    right: 0;
}

.redes_sociais ul {
    margin-right: 40px;
}

.redes_sociais li {
    display: inline;
    padding: 10px;
}

.redes_sociais img {
    width: 60px;
}