@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


#corpo_pag1{
    background-color: #021452;
}
header{
    padding-top: 40px;
}

.caixamenu{
    position: relative;
    width: 1130px; /*largura*/
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 60px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 60px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: roboto;
    font-size: 25px;
}

h1 img{
    width: 200px;
    margin: 0 0 0 50px;
    padding-top: 16px;
}

.botaoentrar{
    margin: 0 50px 0px 70px;
    padding: 10px;
    background-color: #901D71;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 25px;
}

.hrmenu{
    width: 1130px;
    height: 10px;
    background-color: #901D71;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    align-items: center;
}
 /*footer*/ 

footer{
    background-color: #008AAF;
}

#rodape{
    width: 1130px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.logo_ponto img{
    width: 30px;
    padding: 30px;
}

.info1{
    padding: 20px;
    margin-top: 40px;
    font-family: roboto;
    color: #ffffff;
    line-height: 1.40;
}

.info2{
    font-family: roboto;
    font-weight: 700;
    color: #ffffff;
   
}

.redes_sociais{
    position: absolute;
    top: 60px;
    right: 0;
}

.redes_sociais ul{
    margin-right: 40px;
}

.redes_sociais li{
    display: inline;
    padding: 10px;
}

.redes_sociais img{
    width: 60px;
}

/*menu página 1*/

.menupagina_1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.video_aula1{
    padding: 100px 0 150px 0;
}

.info_pag1{
    width: 500px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    font-family: roboto;
    line-height: 1.40;
    padding-left: 20px;
}

.botao_matricular{
    padding: 20px;
    background-color: #901D71;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.botao_matricular a{
    font-size: 25px;
    font-family: roboto;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;

}

/*educadores*/

.imagem_professor{
    width: 200px;
}

.professores{
    width: 800;
    margin: 0 0 0 460px;
    padding: 100px 0 100px 0;
}

.professores li{
    display: inline-block;
    text-align: center;
    width: 20%;
    border: 4px dashed white;
    vertical-align: top;
    padding: 30px 20px;
    margin: 0 1.5% ;
    box-sizing: border-box;
}

.nomes_professores{
    font-family: roboto;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}


.descricao{
    font-family: roboto;
    color: #ffffff;
    font-size: 16px;
    line-height: 2;
}

.anunci01{
    text-align: center;
}

.anuncio_cursos{
    text-align: center;
}

.anuncio_cursos{
    font-family: roboto;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}

.botao_cursos{
    margin: 0 50px 0px 70px;
    padding: 10px;
    background-color: #D9831A;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    margin: 40px 0;
}


.botao_cursos a{
    color: #ffffff;
    text-decoration: none;
    font-family: roboto;
}

